nav{
    display: flex;
    background-color: rgb(53, 51, 51);
    justify-content: space-around;
    color: #83C6E7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    align-items: center;
    border-bottom: 5px solid #508AB9;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a {
    color: #83C6E7;
    text-decoration: none;
}
nav .logo {
    display: flex;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    letter-spacing: 3px;
    background-image: linear-gradient(to right, #83C6E7, #508AB9);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}
nav .logo img{
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 13px;
}
nav ul li a:hover{
    color: #b7d6e6;
}
.chart-dashboard{
    width: 50%;
    margin-top: 60px;
}